/* 
  CSS
*/
#main {
	background-color: #ffffe0;
	text-align: center;	
}

#box {
	height: 80px;
	background-color: #b0c4de;
	text-align: center;
}

#box2 {
	width: 100%;
	height: 40px;
	background-color: #b0c4de;
	text-align: center;
	position: absolute;/*←絶対位置*/
    bottom: 0; /*下に固定*/
}

form {
	margin-left: 100px;
	margin-right: 100px;
}